// SPDX-License-Identifier: GPL-2.0
/dts-v1/;

#include "ingenic,jz4760.dtsi"

/ {
	compatible = "retromini,rs97", "ingenic,jz4770";
	model = "Retro Mini RS-97";

	aliases {
		serial0 = &uart0;
		serial1 = &uart1;
		serial2 = &uart2;
		serial3 = &uart3;
	};

	chosen {
		stdout-path = "serial3:115200n8";
	};

	board {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		otg_phy: otg-phy {
			compatible = "usb-nop-xceiv";
			clocks = <&cgu JZ4760_CLK_OTG>;
			clock-names = "pll1";
		};
	};
};

&ext {
	clock-frequency = <12000000>;
};

&uart3 {
	status = "okay";
};

&cgu {
	/* Put high-speed peripherals under PLL1, such that we can change the
	 * PLL0 frequency on demand without having to suspend peripherals.
	 * We use a rate of 432 MHz, which is the least common multiple of
	 * 27 MHz (required by TV encoder) and 48 MHz (required by USB host).
	 */
	assigned-clocks =
		<&cgu JZ4760_CLK_PLL1>,
		<&cgu JZ4760_CLK_UHC>;
	assigned-clock-parents =
		<0>,
		<&cgu JZ4760_CLK_PLL1>;
	assigned-clock-rates =
		<432000000>;
};

&uhc {
	/* We might want a USB host someday */
	status = "disabled";
};

&mmc0 {
	status = "okay";
};
