menu "Ingenic XBurst platform"
	depends on MACH_XBURST

config SYS_SOC
	default "jz4760" if SOC_JZ4760

choice
	prompt "XBurst SoC select"

config SOC_JZ4760
	bool "Ingenic JZ4760"
	select SUPPORTS_CPU_MIPS32_R1
	select SUPPORTS_LITTLE_ENDIAN
	help
	  This supports Ingenic JZ4760 chips

endchoice

choice
	prompt "Board select"

config TARGET_RS97
	bool "Retro Mini RS-97"
	depends on SOC_JZ4760
	help
	  This supports Ingenic JZ4760

endchoice

source "board/retromini/rs97/Kconfig"

endmenu
